name: CI

on:
  pull_request:
    paths:
      - "my_package/**" # only run when code inside my_package changes
      - ".github/workflows/ci-pr.yml" # rerun if this workflow changes
      - "pyproject.toml" # rerun if deps/config change
      - "uv.lock" # rerun if lockfile changes
  workflow_dispatch: {}
jobs:
  lint-type-format-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev

      - name: Pyrefly type checker
        run: uv run pyrefly check

      - name: Ruff linter
        run: uv run ruff check jetbase tests

      - name: Ruff formatter
        run: uv run ruff format jetbase tests --check

  integration-tests:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/test_db

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev

      - name: Run jetbase
        working-directory: tests/test_integration/jetbase
        run: uv run jetbase upgrade

      - name: Run integration tests
        working-directory: tests/test_integration
        run: uv run pytest
